.competition-scene{
    
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    
    .competition-container{
        // @include boxsizing-x("scene");
        @include boxsizing-y("scene");
        @include typography("p");
        min-height: 100vh;
        

        .logo{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .competition{
            @include boxsizing-x("scene");
            display: flex;
            flex-direction: column;
            height: 80vh;
            justify-content: center;
            background:
                linear-gradient(120deg, white 30%, rgba(255, 255, 255, 0) 100%),
                linear-gradient(240deg, $color-primary-1 20%, rgba(255, 255, 255, 0.3) 30%, rgba(255, 255, 255, 0.3) 70%, #FFFFFF 100%),
                $asset-competition-bg;
        
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            color: $color-primary-1;
            font-weight: bold;
            .competition-text{
                @include typography("hero-title");
                
            }
            border-radius: 10px;

            .competition-subtext{
                @include typography("h3");
                
            } 
        }
        
        .theme{
            display: flex;
            flex-direction: column;
            align-items: center;
            // background-color: aliceblue;
            justify-content: space-evenly;
            height: 50vh;
            
            

            &:hover {
                &:not(.active) .line1 {
                  width: 0%;
                }

                &:not(.active) .line2 {
                    width: 80%;
                  }
            }

            .line {
                @include fluid("height", $height);
                background-color: $color-primary-1;
                position: relative;
                transition: $defaultTransition;
            
                &.line1 {
                  @include fluid("bottom", 1rem - ($height / 2), 1.5rem - ($height / 2));
                  width: 80%;
                }
            
                &.line2 {
                  @include fluid("top", 2rem - ($height / 2), 2.5rem - ($height / 2));
                  width: 0%;
                }
            }
            .theme-header{
                @include typography("hero-title");
            }

            .theme-text{
                text-align: center;
                font-family: $roboto;
                @include typography("h1");
            }
        }

        .prize{
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: $color-gray-4;
            justify-content: center;
            height: 50vh;

            .prize-header{
                @include typography("h1");
            }


            .prize-text{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 100%;
                @include typography("hero-title");
                
            .line {
                @include fluid("height", $height);
                background-color: $color-primary-1;
                position: relative;
                transition: $defaultTransition;
            
                &.line1 {
                    @include fluid("bottom", 1rem - ($height / 2), 1.5rem - ($height / 2));
                    width: 0%;
                }
            
                &.line2 {
                    @include fluid("top", 2rem - ($height / 2), 2.5rem - ($height / 2));
                    width: 0%;
                    
                }

                &.line3 {
                    @include fluid("top", 2rem - ($height / 2), 2.5rem - ($height / 2));
                    width: 0%;
                }
            }

            .left{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                
            }

            .right{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-between;
                width: 100%; 

            }
            
            
        }

        &:hover {
            &:not(.active) .line1 {
                @include fluid("top", 1.5rem, 2rem);
                transform: rotateZ(45deg) rotateY(180deg);
                width: 100%;
            }

            &:not(.active) .line2 {
                @include fluid("top", 1.5rem, 2rem);
                transform: rotateZ(-45deg) rotateY(-180deg);
                width: 100%;
            }

            &:not(.active) .line3 {
                @include fluid("top", 1.5rem, 2rem);
                transform: rotateZ(-500deg) rotateY(180deg);
                width: 80%;
            }

           
        }
    }

        .requirements{
            display: flex;
            flex-direction: column;
            align-items: center;
           
            height: 25vh;
            justify-content: space-evenly;
            .requirements-header{
                @include typography("h1");
            }

            .requirements-text li{
                @include typography("p");

                list-style: none;
            }
            
            
        }

        .timeline{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            background-color: $color-gray-4;
            height: 50vh;
            justify-content: space-between;
            

            .image-container{
                width: 100%;
                max-width: 400px;
                height: auto;
                 
            }
            .timeline-header{
                @include typography("h1");
            }

            .timeline-text{
                @include typography("p");
            }
        }

        
        
        .registration-fee{
            display: flex;
            
            height: 25vh;
            flex-direction: column;
            align-items: center;
            background-color: gray;
            justify-content: space-evenly;
            
            .content{
                background-color: blanchedalmond;
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
                .left{
                    display: flex;
                    flex-direction: column;
                }
                .right{
                    display: flex;
                    flex-direction: column;
                }
            }
            .registration-fee-header{
                @include typography("h1");
            }

            .registration-fee-text{
                @include typography("p");
            }
        }

        .register{
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: burlywood;
            height: 25vh;
            justify-content: space-evenly;

            .register-header{
                @include typography("h1");
            }

            .register-text{
                @include typography("p");
            }
        }

        .contact-person{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            height: 25vh;
            justify-content: center;
            background-color: $color-primary-2;

            .contact-person-header{
                @include typography("h1");
            }

            .contact-person-text{
                @include typography("p");
            }
        }

        .guidebook{
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: wheat;

            .guidebook-header{
                @include typography("h1");
            }

            .guidebook-text{
                @include typography("p");
            }
        }

        
    }
}