@import "./dashboard/dashboard-header";
@import "./dashboard/dashboard-sidebar";
@import "./dashboard/dashboard-body";
@import "./dashboard/dashboard-content";
@import "./dashboard/dashboard-participant-landing";

.dashboard-scene {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow-y: hidden;

  .hamburger-wrapper {
    @include boxsizing-x("component");
    @include boxsizing-y("component");
    position: fixed;
    z-index: 1000;
    display: none;
    bottom: 0;
    transition: $defaultTransition;

    @media screen and (max-width:#{remToPx($bp-medium)}) {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      background-color: $color-white;
      box-shadow: 
        0 -1px 1px rgba(0,0,0,0.1), 
        0 -2px 2px rgba(0,0,0,0.1), 
        0 -4px 4px rgba(0,0,0,0.1), 
        0 -8px 8px rgba(0,0,0,0.1);
    }

    .hamburger-text {
      @include typography("sm");
      @include fluid("margin-left", 2rem, 3rem);
      color: $color-gray-2;
    }
  }
}