.forgot-password-scene {
  @include boxsizing-y("scene", "top-only");
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;

  .forgot-password-container {
    @include boxsizing-x("scene-md");
    width: 100%;
  }

  .forgot-password-asset {
    @include fluid("margin-left", 2rem);
    width: 100%;
    background: url("../../assets/AuthpageAsset.svg");
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: contain;
  }
}
