.register-scene {
  @include boxsizing-y("scene", "top");
  width: 100%;
  max-height: 100vh;
  display: flex;
  flex-direction: row;

  .register-form-container {
    @include boxsizing-x("scene-md");
    width: 100%;
    
    @media screen and (min-width: #{remToPx($bp-medium)}) {
      overflow-y: scroll;
      @include scrollbars(.2rem, $color-primary-1, $color-error-bg,);
    }
  }

  .register-asset {
    @include fluid("margin-left", 2rem);
    width: 100%;
    background: url('../../assets/AuthpageAsset.svg');
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: contain;
  }
}