/* =================================================================== 
 * Base Stylesheet
 * ------------------------------------------------------------------
 *
 *  TOC:
 *      # A. Custom Normalize
 *      # B. Typography
 *
 * =================================================================== */

/* ===================================================================
 * # A. Custom Normalize
 * ------------------------------------------------------------------- */

// Import Constants
@import 'constants/baseline';

html, body {
    margin:0;
    padding:0;
    height:100%;
    max-width:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
}

a {
    color: inherit;
    background-color: transparent;
    text-decoration: none !important;
}

a:hover {
    color: inherit;
}

main {
    display: block;
    height: 100%;
}

article, aside, footer, header, nav, section {
    display: block;
}

/* # End of Normalize
 * ----------------------- */

/* ===================================================================
 * # B. Typography
 * ------------------------------------------------------------------- */
html {
    font-size: $basePercentage;
}

/* # End of Typography
 * ----------------------- */