$asset-landing-hero-bg: url("../../assets/landing/landing-hero-bg.png");
$asset-landing-hero-asset: url("../../assets/landing/landing-hero-asset.png");
$asset-box-gradient: url("../../assets/BoxGradient.svg");
$asset-competition-bg: url("../../assets/competition/CompetitionBackground.jpg");