// Constant: Colors
$color: (
    "primary-1": #84002F,
    "primary-2": #30022C,
    "primary-3": #7F6ADD,
    "secondary-1": #CC002F,
    "secondary-2": #F31A1E,
    "black": #000000,
    "white": #ffffff,
    "gray-1": #2A2A2A,
    "gray-2": #545454,
    "gray-3": #7E7E7E,
    "gray-4": #F2F2F2,
    "success": #0F8A44,
    "success-bg": #D9F2E3,
    "error": #F20D0D,
    "error-bg": #FAD1D1,
    "info": #2F80ED,
    "info-bg": #D0F1FB,
);

$color-primary-1: map-get($color, "primary-1");
$color-primary-2: map-get($color, "primary-2");
$color-primary-3: map-get($color, "primary-3");
$color-secondary-1: map-get($color, "secondary-1");
$color-secondary-2: map-get($color, "secondary-2");
$color-black: map-get($color, "black");
$color-white: map-get($color, "white");
$color-gray-1: map-get($color, "gray-1");
$color-gray-2: map-get($color, "gray-2");
$color-gray-3: map-get($color, "gray-3");
$color-gray-4: map-get($color, "gray-4");

$color-success: map-get($color, "success");
$color-success-bg: map-get($color, "success-bg");
$color-error: map-get($color, "error");
$color-error-bg: map-get($color, "error-bg");
$color-info: map-get($color, "info");
$color-info-bg: map-get($color, "info-bg");
