// Constant: Fonts
$fontsize: (
  "h1-ceil": 3.6rem,
  "h1-floor": 2.4rem,
  "h2-ceil": 2.4rem,
  "h2-floor": 1.8rem,
  "h3-ceil": 1.8rem,
  "h3-floor": 1.6rem,
  "p-ceil": 1.6rem,
  "p-floor": 1.4rem,
  "sm-ceil": 1.4rem,
  "sm-floor": 1.3rem,
);

$fontsize-h1-ceil: 3.6rem;
$fontsize-h1-floor: 2.4rem;
$fontsize-h2-ceil: 2.4rem;
$fontsize-h2-floor: 1.8rem;
$fontsize-h3-ceil: 1.8rem;
$fontsize-h3-floor: 1.6rem;
$fontsize-p-ceil: 1.6rem;
$fontsize-p-floor: 1.4rem;
$fontsize-sm-ceil: 1.4rem;
$fontsize-sm-floor: 1.3rem;
