@mixin navigation-aside(){
  .navigation-aside {
    @include boxsizing-x("scene-md");
    @include boxsizing-y("scene");
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 100%;
    z-index: 800;
    background-color: $color-gray-4;
    transition: $defaultTransition;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .aside-body {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;

      .body-links {
        @include typography("h1");
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        @media screen and (max-width: #{remToPx($bp-medium)}) and (orientation: landscape) {
          @include typography("h3");
        }

        .body-link {
          color: $color-gray-1;
          transition: $defaultTransition;
          text-transform: capitalize;
          transition: $defaultTransition;

          &[state=hover] {
            color: $color-primary-1;
          }
    
          &[state=not-hover] {
            color: $color-gray-3;
          }
    
          &[state=idle] {
            color: $color-gray-1;
          }
  
          &:not(:first-child){
            @include fluid("margin-top", 2rem, 2rem);
          }
        }
      }

      .body-asset {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

        img {
          width: 80%;
          height: 80%;
        }
      }
    }

    .aside-footer {
      @include typography();
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .footer-links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .footer-link {
          color: $color-gray-1;
          transition: $defaultTransition;
          text-transform: capitalize;
          transition: $defaultTransition;

          &[state=hover] {
            color: $color-primary-1;
          }
    
          &[state=not-hover] {
            color: $color-gray-3;
          }
    
          &[state=idle] {
            color: $color-gray-1;
          }

          &:not(:first-child){
            @include fluid("margin-left", 2rem, 2rem);
          }
        }
      }
    }
  }
}