@import "./navigation-header";
@import "./navigation-aside";

.navigation-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1000;

  @include navigation-header();
  @include navigation-aside();
}