// Determine Height of Navigation Header Component
// Calculates from Biggest Element (Img and Padding)
$paddingFloor: 2rem;
$paddingCeil: 2rem;
$imgFloor: 4.8rem;
$imgCeil: 9.6rem;
$heightFloor: ($paddingFloor * 2) + $imgFloor;
$heightCeil: ($paddingCeil * 2) + $imgCeil;

@mixin navigation-header() {
  .navigation-header {
    @include boxsizing();
    @include fluidpaddingy($paddingFloor, $paddingCeil);
    @include typography();
    display: flex;
    position: relative;
    z-index: 900;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  
    img {
      @include fluid("width", $imgFloor, $imgCeil);
    }
  
    .header-links{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      
      .header-link {
        &:not(:first-child) {
          @include fluid("margin-left", 2rem, 2rem);
        }
      }
  
      a {
        color: $color-gray-1;
        text-transform: uppercase;
        transition: all 0.3s;
  
        &[state=hover] {
          color: $color-black;
        }
  
        &[state=not-hover] {
          color: $color-gray-3;
        }
  
        &[state=idle] {
          color: $color-gray-1;
        }
      }
    }
  }
}