.flex-grid-row {
  display: flex;
  flex-direction: row;
  width: inherit;

  @media screen and (max-width: #{remToPx($bp-medium)}) {
    flex-direction: column;
  }

  @each $name in '1' '2' '3' '4' '5' '6' '7' '8' '9' '10' '11' '12' {
    .flex-col-#{$name} {
      flex-grow: #{$name};
    }
  }

  .flex-col {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;

    @media screen and (max-width: #{remToPx($bp-medium)}) {
      @include boxsizing-y("component");
    }

    @media screen and (min-width: #{remToPx($bp-medium)}) {
      @include boxsizing-x("component");
    }

    &.stretch {
      align-items: stretch;
    }
  }
}