.form {
  &.form-wrapper {
    @include boxsizing-x("component");
    @include boxsizing-y("component");
  }

  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  & * {
    width: inherit;

    &.default-width {
      width: initial;
    }
  }

  a {
    font-weight: 700;
    color: $color-primary-1;
    transition: $defaultTransition;

    &:hover {
      color: $color-primary-2;
    }
  }

  .form-title {
    @include typography("h1");
    @include fluid("margin-bottom", 2.5rem, 4rem);
    text-align: center;
  }

  .input-body, .input-footer {
    @include fluid("margin-bottom", 2.5rem, 4rem);
    display: flex;
    flex-direction: column;
  }

  .input-group {
    display: flex;
    flex-direction: column;

    &:not(:last-child){
      @include fluid("margin-bottom", 1.5rem, 2rem);
    }
    
    & > *{
      @include typography("p");
      &:not(:last-child) {
        @include fluid("margin-bottom", 0.75rem, 1rem);
      }
    }
  }

  .input-label {
    text-transform: uppercase;
  }

  .input-heading {
    @include typography("h2");
    @include fluid("margin-top", 1.5rem, 2rem);

    &.boxsizing-default {
      margin-top: 0;
    }
  }

  .input-text {
    @include typography("sm");
    color: $color-gray-2;

    & > * {
      @include typography("sm");
    }
  }

  input[type='text'], input[type='email'], input[type='password'], input[type='number'] {
    @include lato();
    @include fluid("padding", 0.5rem);
    border: remToVw(96rem, 0.1rem) solid $color-black;
    border-radius: remToVw(96rem, 0.3rem);
  }

  .input-radio-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    @media screen and (max-width: #{remToPx($bp-medium)}){
      flex-direction: column;
    }

    &.force-row {
      @media screen and (max-width: #{remToPx($bp-medium)}){
        flex-direction: row;
      }
    }

    .input-radio {
      width: auto;

      &:not(:last-child) {
        @media screen and (max-width: #{remToPx($bp-medium)}) {
          @include fluid("margin-bottom", 1rem, 1.6rem);  
        }
      }

      label {
        display: flex;
        
        .radio-description {
          @include fluid("margin-left", .5rem, 2rem);
          @include typography("sm");
        }
      }
    }
  }

  input[type="radio"], input[type="checkbox"]{
    display: none;

    &:checked + label {
      .radio-button {
        background-color: $color-primary-1;
        border: remToVw($bp-large, .1rem) solid $color-primary-1;
      }
    }
  }

  .radio-button {
    @include fluid("width", 1.6rem, 2rem);
    @include fluid("height", 1.6rem, 2rem);
    background-color: transparent;
    display: flex;
    border: remToVw($bp-large, .1rem) solid $color-black;
    border-radius: 50%;
    transition: $defaultTransition;

    @media screen and (min-width: #{remToPx($bp-medium)}){
      margin-bottom: 0 !important;
    }
  }
}
